<!-- app.component.html -->

<div>
    <div class="banner-container">
      <div class="image-container">
        <img src="images/romania1.jpeg" alt="">
      </div>     
      <div class="image-container">
        <img src="images/romania0.jpeg" alt="">
      </div>
      <div class="image-container">
        <img src="images/romania2.jpeg" alt="">
      </div>
      <div class="image-container">
        <img src="images/romania3.jpeg" alt="">
      </div>
      <div class="image-container">
        <img src="images/romania4.jpeg" alt="">
      </div>
      <div class="image-container">
        <img src="images/romania7.jpeg" alt="">
      </div>
      <div class="image-container">
        <img src="images/romania5.jpeg" alt="">
      </div>     
      <div class="image-container">
        <img src="images/romania6.jpeg" alt="">
      </div>
      <div class="centered-text"><h1>Romanian Pages USA</h1></div>
    </div>


    <app-usa-map></app-usa-map>

  
</div>
